@import './../../style/mixins.scss';
@import './../../style/vars.scss';



.resume{
    @include flex(flex,column, flex-start,center);
    min-height: 100vh;
    background-color: $backgroundColorLight;
    width: 100%;
    .container{
      @extend %container;
        

        .content{
            width: 100%;
            margin: 60px 0 0 0;
            @include flex(flex,column,center, flex-start);
            .contentTitle{
              @include text(35px,700,22px,#fff);
              letter-spacing: 3px;
              position: relative;
              &::before{
                position: absolute;
                content: "SKILLS";
                top: -20px;
                left: 10px;
                @include text(45px,700,22px,#fff);
                opacity: .03;
              }
            }
            .items{
                @include flex(flex,row,flex-start,center);
                margin: 50px 0 0 0;
                flex-wrap: wrap;
                .skills{
                  @include flex(flex,row,space-between,center);
                  flex-wrap: wrap;
                  max-width: 900px;
                  .wrap{
                    @include flex(flex,column,center, flex-start);
                    margin: 20px 0 0 0;
                    .itemTitle{
                      @include text(19px,500,22px,#fff);
                      margin: 0 0 10px 0;
                      .subTitle{
                        @include text(16px,800,22px,$textColor);
                        margin: 0 0 0 10px;
                        font-family: "Roboto", sans-serif;
                        animation: pr .5s;
                        display: inline-block;
                      }
                    }
                    .progresBar{
                      height: 8px;
                      width: 400px;
                      border: 1px solid;
                      @media (max-width: 576px){
                        width: 290px;
                      }
                     .fill{
                      height: 100%;
                      background-color:$progresBarColor;
                      animation: pb .7s;
                     }
                      .fillHtml{
                        width: 85%;
                      }
                      .fillCss{
                        width: 75%;
                      }
                      .fillJs{
                        width: 50%;
                      }
                      .fillReact{
                        width: 30%;
                      }
                      .fillPh{
                        width: 40%;
                      }
                      .fillWp{
                        width: 45%;
                      }
                    }
                    
                  }
                }
                
                .educationWrap{
                  margin: 140px 0 0 0;
                  .educationTitle{
                    @include text(32px,700,22px,#fff);
                    letter-spacing: 3px;
                    position: relative;
                    @media (max-width: 576px){
                      font-size: 24px;
                    }
                    &::before{
                      position: absolute;
                      content: "Education/Experience";
                      top: -15px;
                      left: 10px;
                      @include text(45px,700,22px,#fff);
                      opacity: .03;
                      @media (max-width: 576px){
                        font-size: 25px;
                        left: 5px;
                      }
                    }
                  }

                  .educationItem{
                    margin: 60px 0 0 0;
                    @include flex(flex,row,flex-start,center);
                    .date{
                      @include text(20px,800,22px,$acentColorLight);
                      display: block;
                      min-width: 200px;
                      position: relative;
                      @media (max-width: 768px){
                        min-width: 140px;
                        font-size: 18px;
                      }
                      @media (max-width: 576px){
                        font-size: 15px;
                        min-width: 115px;
                      }
                    }
                    .text{
                      @include text(18px,400,22px,$textColor);
                      @media (max-width: 576px){
                        @include text(13px,400,18px,$textColor);
                      }
                    }
                  }
                }

            }
        }
    }
}


@keyframes pr {
  0%{
    transform: translateY(-50px);
    
  }
  10%{
    transform: translateY(40px);
  }
  20%{
    transform: translateY(-40px);
  }
  30%{
    transform: translateY(30px);
  }
  40%{
    transform: translateY(-30px);
  }
  50%{
    transform: translateY(25px);
  }
  60%{
    transform: translateY(-25px);
  }
  
  80%{
    transform: translateY(-10px);
  }
  90%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0);
    
  }
}

@keyframes pb {
  0%{
    width: 0%;
  }
  80%{
    width: 100%;
  }
  100%{
    width: 100%;
  }
}



